# ðŸŒŸExercise 2: Dataset Loading and Initial Analysis

In [5]:
import pandas as pd

In [6]:
data = pd.read_csv('Time Americans Spend Sleeping.csv')

In [7]:
data.head()

,index,Year,Period,Avg hrs per day sleeping,Standard Error,Type of Days,Age Group,Activity,Sex
0,0,2003,Annual,8.57,0.018,All days,15 years and over,Sleeping,Both
1,1,2004,Annual,8.55,0.026,All days,15 years and over,Sleeping,Both
2,2,2005,Annual,8.62,0.023,All days,15 years and over,Sleeping,Both
3,3,2006,Annual,8.63,0.024,All days,15 years and over,Sleeping,Both
4,4,2007,Annual,8.57,0.024,All days,15 years and over,Sleeping,Both

In [8]:
data.describe()

            index         Year  Avg hrs per day sleeping  Standard Error
count  945.000000   945.000000                945.000000      945.000000
mean   472.000000  2010.000000                  8.806868        0.086958
std    272.942302     4.322782                  0.545001        0.034631
min      0.000000  2003.000000                  7.720000        0.018000
25%    236.000000  2006.000000                  8.360000        0.063000
50%    472.000000  2010.000000                  8.810000        0.084000
75%    708.000000  2014.000000                  9.190000        0.106000
max    944.000000  2017.000000                 10.650000        0.228000

# ðŸŒŸExercise 3: Identifying Data Types

In [9]:
qualitative_columns = data.select_dtypes(include=['object']).columns
qualitative_columns

Index(['Period', 'Type of Days', 'Age Group', 'Activity', 'Sex'], dtype='object')

In [10]:
quantitative_columns = data.select_dtypes(include=['int64','float64']).columns
quantitative_columns

Index(['index', 'Year', 'Avg hrs per day sleeping', 'Standard Error'], dtype='object')

#### Based on my reasoning, the columns that have words or letters (character) are qualitative data, and the columns with numirecal data are quantitative data.

### _____________________________________________________________________________________________________________________________

# ðŸŒŸExercise 4: Exploring Data Types

In [18]:
import os
import json

# Method 1: Set environment variable directly in notebook
os.environ['KAGGLE_USERNAME'] = 'achrafmlm'  # Your Kaggle username
os.environ['KAGGLE_KEY'] = 'KGAT_ca19ea68b14768a7f18f1c6845040642'

In [19]:
from kaggle.api.kaggle_api_extended import KaggleApi

# Initialize API
api = KaggleApi()
api.authenticate()

# Download the dataset
api.dataset_download_files('uciml/iris', path='./', unzip=True)

# Load the dataset
df = pd.read_csv('Iris.csv')
print(df.head())

Dataset URL: https://www.kaggle.com/datasets/uciml/iris
   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [20]:
qualitative_columns = df.select_dtypes(include=['object']).columns
qualitative_columns

Index(['Species'], dtype='object')

In [21]:
quantitative_columns = df.select_dtypes(include=['int64','float64']).columns
quantitative_columns

Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm'], dtype='object')

#### Species column containes chaines of characters, that's why it gwt classified as qualitative data, in the other hand, we have all the other columns have numerical values that's why they get classified as quntitative data.

## ____________________________________________________________________________________________________

# ðŸŒŸExercise 5: Basic Data Analysis with Google Colab

In [22]:
df['SepalLengthCm'].mean()

5.843333333333334

In [23]:
df['SepalLengthCm'].median()

5.8

In [24]:
df['SepalLengthCm'].mode()

0    5.0
Name: SepalLengthCm, dtype: float64